{% extends "theme::layouts/login" %}

{% block content %}

<div class="login-box">
  <div class="login-logo">
    <a href="{{ url('/') }}">{{ trans('pyrocms.theme.accelerant::control_panel.title') }}</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    {% include "theme::partials/messages" %}

    <p class="login-box-msg">Sign in to start your session</p>

    {% set form = form('login').redirect('admin').get() %}
    {{ form.open|raw }}

      <div class="form-group has-feedback">
        {% if setting_value('anomaly.module.users::login') == 'username' %}
            {{ form.fields.username.setPlaceholder(form.fields.username.label).addAttribute('autofocus', 1).input|raw }}
        {% else %}
            {{ form.fields.email.setPlaceholder(form.fields.email.label).addAttribute('autofocus', 1).input|raw }}
        {% endif %}
        <span class="fa fa-key form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        {{ form.fields.password.setPlaceholder(form.fields.password.label).input|raw }}
        <span class="fa fa-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              {{ form_checkbox("remember", null, false, {'id': 'remember'}) }} 
              {{ trans('anomaly.module.users::field.remember_me.name') }}
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">{{ trans('anomaly.module.users::button.login') }}</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a href="{{ url_route('anomaly.module.users::password.forgot') }}">I forgot my password</a>

  </div>
  <!-- /.login-box-body -->
</div>
{% endblock %}
